*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.editor_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.editor_inside{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-radius: 5px;
}
.editor_toolbar > div:not(:last-child){
    width: 40px;
    height: 40px;
    padding: 5px;
}
.editor_toolbar > div:not(:last-child):hover{
    background-color: aquamarine;
    cursor: pointer;
    border-radius: 5px;
}
.editor_toolbar > div:not(:last-child) img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}
.editor_toolbar{
    display: flex;
    gap:20px;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    align-items: center;
}
div.Save{
    margin-left: auto;
}
div.Save a{
    padding: 10px;
    border-radius: 5px;
    background-color: #ddd;
    color: #000;
}
.editor_main{
    border: 1px solid red;
    height: 40vh;
}
.editor_output{
    border: 1px solid red;
    height: 40vh;
}

@media only screen and (max-width:600px){
    .editor_inside{

        width: 95%;

    }
    .editor_toolbar > div:not(:last-child){
        width: 25px;
        height: 25px;

    }
}

@media only screen and (max-width:900px) and (min-width:600px){
    .editor_inside{

        width: 95%;

    }
}